.about {
    background-color: #fafafa;
    font-family: "Bitter", serif;
    padding: 10% 15%;
    .container-info {
        .profile-container {
            display: flex;
            flex-direction: row;
            flex-direction: row;
            color: #343434;
            font-family: "Bitter", serif;
            .left-content {
                padding: 0 15px;
                max-width: 41%;
                img {
                    width: 90%;
                    border-radius: 5px;
                    border: 8px solid #f6f4f1;
                    box-shadow: 0 0 10px #c2d8d3;
                }
            }
            .right-content {
                display: flex;
                flex-direction: column;
                // max-width: 800px; //not fix
                width: 100%;
                .subtitle {
                    margin-top: 0px;
                    font-size: 1rem;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: rgba(15, 27, 97, 0.75);
                }
                .aboutMe {
                    font-size: 2rem;
                    line-height: 1;
                    letter-spacing: 2px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
                .person-pic-phone {
                    display: none;
                    max-width: 50%;
                    img {
                        width: 100%;
                    }
                }
                .personal-intro {
                    font-family: "Bitter", serif;
                    font-size: 0.85rem;
                    margin-bottom: 2.7%;
                    display: inline-block;
                }
                .read-or-hide {
                    color: rgba(15, 27, 97, 0.75);
                }
                hr {
                    margin: 2% 0 4%;
                    width: 10%;
                    border: 2px solid rgba(15, 27, 97, 0.75);
                    color: rgba(15, 27, 97, 0.75);
                    opacity: 0.9;
                }
                .profile-box {
                    display: flex;
                    // flex-wrap: wrap; //for responsive
                    border: 2px solid rgba(15, 27, 97, 0.75);
                    // border: 2px solid #5959eb;
                    border-radius: 5px;
                    margin: 0.1% 0 5%;
                    padding: 3% 1% 3% 4%;
                    justify-content: space-around;
                    align-items: center;
                    .profile-column {
                        margin-right: 5%;
                        max-width: 50%;
                        h3 {
                            font-weight: 100;
                            font-size: 0.9rem;
                        }
                    }
                }

                .banner-button {
                    max-width: 35%;
                    padding: 2% 3%;
                    align-items: center;
                    border: 0px solid rgba(15, 27, 97, 0.75);
                    border-radius: 5px;
                    color: white;
                    font-size: 0.9rem;
                    letter-spacing: 3px;
                    font-family: "Bitter", serif;
                    font-weight: 200;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color: rgba(15, 27, 97, 0.65);
                    transition: color 0.15s ease-in-out,
                        background-color 0.15s ease-in-out,
                        border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                    display: flex;
                    flex-direction: row;
                    .arrow-icon {
                        margin-left: 10px;
                        font-size: 1.5rem;
                        color: white;
                        font-weight: 900;
                        transition: all 0.5s ease;
                        // transform: translateY(-2px);
                        &:before {
                            -webkit-font-smoothing: antialiased;
                            font-style: normal;
                            font-weight: 400;
                            text-transform: none !important;
                            content: "\2192";
                        }
                    }
                    &:hover {
                        box-shadow: 5px 5px gray;
                        .arrow-icon {
                            transform: translateX(4px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .about {
        padding: 10%;
        .container-info {
            .profile-container {
                .left-content {
                    display: none;
                }
                .right-content {
                    align-items: center;
                    .person-pic-phone {
                        display: block;
                        margin: 5% auto;
                        max-width: 35%;
                    }
                    .text {
                        text-align: center;
                    }
                    hr {
                        width: 20%;
                    }
                    .personal-intro {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                    .read-or-hide {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .about {
        padding: 10%;
        .container-info {
            .profile-container {
                .left-content {
                    display: none;
                }
                .right-content {
                    align-items: center;
                    .person-pic-phone {
                        display: block;
                        margin: 5% auto;
                    }
                    .text {
                        text-align: center;
                    }
                    hr {
                        width: 20%;
                    }
                    .personal-intro {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                    .read-or-hide {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .about {
        padding: 10%;
        .container-info {
            .profile-container {
                .left-content {
                    display: none;
                }
                .right-content {
                    align-items: center;
                    .person-pic-phone {
                        display: block;
                        margin: 5% auto;
                    }
                    .text {
                        text-align: center;
                    }
                    hr {
                        width: 20%;
                    }
                    .personal-intro {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                    .read-or-hide {
                        text-align: center;
                        font-size: 0.8rem;
                    }
                    .profile-box {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0.1% 0 5%;
                        padding: 5% 10% 4% 5%;
                        .profile-column {
                            max-width: none;
                            margin-right: 0;
                            h3 {
                                font-size: 0.85rem;
                                margin-bottom: 0.8rem;
                            }
                        }
                    }

                    .banner-button {
                        font-size: 0.75rem;
                        letter-spacing: 1px;
                        padding: 4% 5%;
                        max-width: 100%;
                        .arrow-icon {
                            display: none;
                        }
                        .button-text {
                        }
                    }
                }
            }
        }
    }
}
