.wrapper {
    transition: filter 0.35s ease, -webkit-filter 0.35s ease,
        opacity 0.375s ease-out;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    hr {
        border: 1px solid #848482;
        color: #848482;
    }
}
