.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0% auto 7.5%;
    text-align: center;
    font-family: "Bitter", serif;
    padding: 0 3%;
    padding-top: 5%;
    color: #000;
    .intro {
        max-width: 600px;
        .title {
            font-size: 2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: rgba(15, 27, 97, 0.8);
        }
        .gallery-text {
            font-size: 1rem;
            margin-bottom: 7%;
            margin-top: 4%;
            opacity: 0.6;
            line-height: 1.5;
        }
    }

    .photo-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;

        max-width: 1200px;
        .col {
            width: 50%;
            padding: 0 2%;
        }
    }
}
@media (max-width: 800px) {
    .gallery {
        .intro {
            .title {
                font-size: 1.3rem;
            }
            .gallery-text {
                font-size: 0.8rem;
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .photo-grid {
            .col {
            }
        }
    }
}
