@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.header {
    transition: opacity 2.5s ease-in-out;
    transition-duration: 0.2s;
    transition-delay: 0.75s;
    .navbar {
        padding: 2% 5%;
        background: transparent;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo-container {
            opacity: 0;
            animation: fade-in-right ease-in-out 0.6s forwards;
            cursor: pointer;
            img {
                width: 110px;
            }
            .sticky-logo {
                padding: 0.5rem 0 0;
                width: 65px;
                // height: 60px;
                transition: 0.8s ease-in-out;
                transform: rotate(1turn);
            }
        }
        .navbar-buttons {
            opacity: 0;
            animation: fade-in-right ease-in-out 0.6s forwards;
            animation-delay: 0.8s;
            display: flex;
            flex-direction: row;
            color: black;
            margin-left: auto;
            align-items: center;
            .navbar-button {
                font-size: 16px;
                margin-right: 30px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                text-align: center;
                &:hover {
                    // color: rgba(15, 27, 97, 0.9);
                    color: #5959eb;
                    letter-spacing: 2px;
                }
            }
            .resume-button {
                border: 1.5px solid #2e5090;
                border-radius: 5px;
                padding: 8px 15px;
                &:hover {
                    background: #2e5090;
                    color: #fff;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .sticky {
        padding: 0 5%;
        background: #eae8e1;
        opacity: 1;
        box-shadow: 0.2px 0.5px 0.5px #f5fefd;
        transition: 0.3s ease-in-out;
    }
    .hidden {
        opacity: 0;
        z-index: -100;
        transition: 0.3s ease-in-out;
    }
}
