@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.content {
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
