.work {
    padding: 8% 20% 5%;
    // background-size: cover;
    // background-position: 50%;
    // box-shadow: inset 0 0 10px #1a2420;
    .work-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2rem;
        color: rgba(15, 27, 97, 0.8);
        text-align: center;
        margin-bottom: 0;
    }
    .vertical-line {
        font-size: 2.5rem;
        margin-bottom: 7%;
        color: rgba(15, 27, 97, 0.8);
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 20%;
        position: relative;
        padding: 0;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        .carousel {
            max-width: 100%;
            width: auto;
            max-width: 520px;
            cursor: pointer;
            .carousel-indicators {
                top: 105%;
                // align-items: center;
                button {
                    background-color: black;
                }
            }
            .carousel-inner {
                max-width: 550px;
                overflow: hidden;
                //             border: 0.8rem solid #334740;
                // box-shadow: 0 0 10px #1a2420;
                .carousel-item {
                    img {
                        max-width: 830px;
                        max-width: 520px;
                    }
                }
            }
            .carousel-control-prev {
                top: 106%;
                bottom: auto;

                // width: 60%;
                left: 26%;
                .carousel-control-prev-icon {
                    background-image: url("../images/prev_arror.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
            .carousel-control-next {
                top: 106%;
                bottom: auto;

                // width: 60%;
                right: 26%;
                .carousel-control-next-icon {
                    background-image: url("../images/prev_arror.svg");
                    background-repeat: no-repeat;
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .right-carousel {
            margin-left: auto;
        }
        .proj-description {
            display: flex;
            flex-direction: column;
            flex: 1;
            font-family: "Bitter", serif;
            position: absolute;
            width: 45%;
            text-align: right;
            right: 2%;
            gap: 8px;
            .category {
                color: black;
                font-weight: 200;
                font-size: 0.9rem;
                line-height: 1;
            }
            .name {
                font-size: 2.2rem;
                margin-bottom: 0.3rem;
                letter-spacing: 2px;
            }
            .details {
                padding: 3% 3% 3% 1%;
                background-color: #000;
                font-size: 0.95rem;
                margin-bottom: 4%;
                border-radius: 3px;
                box-shadow: 0 0 5px #1a2420;
                transition: 0.3s ease-in-out;
                color: white;
            }
            .tech {
                display: flex;
                flex-direction: row;
                gap: 25px;
                .tech-individual {
                    font-weight: 300;
                    font-size: 0.8rem;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        color: #5959eb;
                    }
                }
            }
        }
        .right {
            align-items: flex-end;
        }
        .left {
            align-items: flex-start;
            z-index: 2;
            left: 2%;
            text-align: left;
        }
    }
}
